<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
      <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <%= link_to("削除", "/users/#{@user.id}/destroy", {method: "post"}) %>
      <% end %>
    </div>
    <% @user.schedules.each do |schedule| %>
      <div class="schedules-index-item">
        <div>
        <%= schedule.date %>
        </div>
        <div class="schedule-user-name">
            <%= link_to(schedule.user.name, "/users/#{schedule.user.id}") %>
        </div>
            <%=link_to(schedule.content,"/schedules/#{schedule.id}" )%>
      </div>
    <% end %>
  </div>
</div>