<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
      <%= link_to("編集", "/users/#{@user.id}/edit") %> 
      <% end %>
    </div>
    <p>総収支<%=Schedule.all.sum(:money) %>円</p>
    <p class=cbs>カテゴリ別の収支</p>
    <%=Schedule.group(:content).sum(:money) %>
    
     <%
=begin%>
 <% @user.schedules.each do |schedule| %>
      <div class="schedules-index-item">
        <div>
        <%= schedule.date %>
        </div>
        <div class="schedule-user-name">
            <%= link_to(schedule.user.name, "/users/#{schedule.user.id}") %>
        </div>
            <%=link_to(schedule.content,"/schedules/#{schedule.id}" )%>
            <div>
            <p><%= schedule.money %>円</p>
            </div>
      </div>
    <% end %> 
<%
=end%>
  </div>
</div>